<%- include('partials/header') %>

<section class="coffeeContainer">
  <a href="/article/<%= coffee.id %>">
    <img class="coffee-article-img" src="/images/<%= coffee.reference %>.webp" alt="<%= coffee.name %> illustration">
  </a>
  <div class="article-coffee">
    <div class="coffee-infos">
      <h2 class="coffeeName"><%= coffee.name %></h2>
      <hr>
      <p class="coffeeOrigin">Origine : <%= coffee.origin %></p>
      <p class="coffeeCategory">Type : <%= coffee.category %></p>
      <hr>
      <p class="coffeeDesc"><%= coffee.description %></p>
      <p class="coffeePrice">Prix : <span><%= coffee.price %>&nbsp;&euro;</span></p>
      <hr>
      <p class="coffeeRef">Réf : <%= coffee.reference %></p>       
      <p class="coffeeAvail">Disponible : <span><%= coffee.availability %></span></p>
    </div>
    <a class="btn" title="Catalogue" href="/catalogue">Catalogue</a>
    <a class="btn" aria-label="J'acquiers" href="/panier/add/<%= coffee.id %>"><i class="icon-cart"></i></a>
    <a class="btn" aria-label="J'aime" href="/favoris/add/<%= coffee.id %>">
      <% if (favorites.find((fav) => fav.id === coffee.id)) { %>
        <i class="icon-heart-filled"></i>
       <% } else { %>
        <i class="icon-heart"></i>            
      <% } %>
    </a>
  </div>
</section>

<%- include('partials/footer') %>