<%- include('partials/header') %>

<div class="coffeeContainer">
  <a href="/article/<%= coffee.id %>">
    <img class="coffee-article-img" src="../../integration/images/<%= coffee.reference %>.webp" alt="<%= coffee.name %> illustration">
  </a>
  <div class="article-coffee">
    <div class="coffee-infos">
      <h3 class="coffeeName"><%= coffee.name %></h3>
      <hr>
      <p class="coffeeOrigin">Origine : <%= coffee.origin %></p>
      <p class="coffeeCategory">Type : <%= coffee.category %></p>
      <hr>
      <p class="coffeeDesc"><%= coffee.description %></p>
      <p class="coffeePrice">Prix : <span><%= coffee.price %>&nbsp;&euro;</span></p>
      <hr>
      <p class="coffeeRef">Réf : <%= coffee.reference %></p>       
      <p class="coffeeAvail">Disponible : <span><%= coffee.availability %></span></p>
    </div>
    <a class="catalogue-display" title="Catalogue" href="/catalogue">Catalogue</a>
  </div>
</div>

<%- include('partials/footer') %>