<%- include('partials/header') %>

<div class="catalogue-header">
  <h2>Notre Catalogue</h2>
</div>

<div class="search-container">
  <form action="/catalogue/category" method="get">
    <select tabindex=0 class="search-dropdown" name="category" id="category" aria-label="Catégorie">
      <option value="" disabled selected hidden>Catégorie</option>
      <option value="Acide">Acide</option>
      <option value="Chocolaté">Chocolaté</option>     
      <option value="Corsé">Corsé</option>
      <option value="Doux">Doux</option>
      <option value="Épicé">Épicé</option>
      <option value="Fruité">Fruité</option>
    </select>
    <input class="search-btn" tabindex=0 type="submit" value="Rechercher">
  </form>
</div>

<section class="coffee-container">
  <% coffees.forEach(coffee => { %>
    <div class="catalogue-coffee">
      <img class="coffee-img" src="/integration/images/<%= coffee.reference %>.webp" alt="<%= coffee.name %> illustration">
      <div class="coffee-infos">
        <h3 class="coffeeName"><%= coffee.name %></h3>
        <hr>
        <p class="coffeeOrigin">Origine : <%= coffee.origin %></p>
        <p class="coffeeCategory">Type : <%= coffee.category %></p>
        <hr>
        <p class="coffeeDesc"><%= coffee.description %></p>
        <hr>  
        <p class="coffeeAvail">Disponible : <span><%= coffee.availability %></span></p>
      </div>
      <a class="btn" href="/article/<%= coffee.id %>">Découvrir</a>
      <a class="btn" aria-label="J'acquiers" href="/panier/add/<%= coffee.id %>"><i class="icon-cart"></i></a>
      <a class="btn"  aria-label="J'aime" href="/favoris/add/<%= coffee.id %>"><i class="icon-heart"></i></a>
    </div>
  <% }) %>
</section>

<button class="display-full">Voir tout</button>

<script async src="/integration/display.js"></script>

<%- include('partials/footer') %>