<%- include('partials/header') %>

<div class="favorites-container">

  <div class="row">
    <div class="col">
      <h2>Votre Produits Favoris</h2>
      <table class="panier-table">
        <thead>
          <th></th>
          <th>Article</th>
          <th colspan="2">Description</th>
          <th></th>
        </thead>
        <tbody>
          <% favoritesList.forEach(coffee => { %>
            <tr>
              <td>
                  <img class="coffee-cart-img" src="/images/<%= coffee.reference %>.webp" alt="<%= coffee.name %>">
              </td>

              <td>
                  <p class="coffee-blurb"><%= coffee.name %></p>
              </td>

              <td colspan="2">
                <p class="coffee-blurb"><%= coffee.description %></p>
              </td>

              <td>
                <a class="btn btn-cart" aria-label="J'acquiers" href="/panier/add/<%= coffee.id %>"><i class="icon-cart"></i></a>
                <a class="btn btn-cart" href="/favoris/delete/<%= coffee.id %>">Supprimer</a>
              </td>
            </tr>
          <% }) %>
          </tbody>
      </table>

      <div class="row">
          <a class="catalogue-display cart" title="Catalogue" href="/catalogue">Retour au catalogue</a>
      </div>

    </div>
  </div>
</div>

<%- include('partials/footer') %>