<%- include('partials/header') %>

<div class="panier-container">

  <div class="row">
    <div class="col">
      <h2>Votre Panier</h2>
      <table class="panier-table">
        <thead>
          <th></th>
          <th>Article</th>
          <th>Prix</th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <% shoppingList.forEach(coffee => { %>
            <tr>
              <td>
                  <img class="coffee-cart-img" src="/integration/images/<%= coffee.reference %>.webp" alt="<%= coffee.name %>">
              </td>

              <td>
                <p class="coffee-blurb"><%= coffee.name %></p>
              </td>

              <td>
                <p class="coffee-blurb"><%= coffee.price %>&nbsp;&euro;</p>
              </td>

              <td>
                <a class="btn btn-cart" aria-label="J'aime" href="/favoris/add/<%= coffee.id %>"><i class="icon-heart"></i></a>
              </td>

              <td>
                <a class="btn btn-cart" href="/panier/delete/<%= coffee.id %>">Retirer</a>
              </td>
            </tr>
          <% }) %>

      </table>

      <div class="row">
          <a class="catalogue-display cart" title="Catalogue" href="/catalogue">Retour au catalogue</a>
      </div>

    </div>
  </div>
</div>

<%- include('partials/footer') %>