<%- include('partials/header') %>

<div class="panier-container">

  <div class="row">
    <div class="col">
      <% if (shoppingList.length < 1) { %>
        <h2>Votre panier est vide</h2>
      <% } else { %>
        <h2>Votre panier</h2>
      <% } %>

      <% if (shoppingList.length > 0) { %>
       
      <table class="panier-table">
        <thead>
          <th></th>
          <th>Article</th>
          <th></th>
          <th>Prix en &euro;</th>
          <th>Qté</th>
          <th>Sous-total en &euro;</th>
        </thead>
        <tbody id="table-body">
          <% shoppingList.forEach(function(coffee, key) { %>
            <tr>
              <td>
                  <img class="coffee-cart-img" src="/images/<%= coffee.reference %>.webp" alt="<%= coffee.name %>">
              </td>

              <td>
                <p class="coffee-blurb"><%= coffee.name %></p>
              </td>

              <td>
                <a class="btn" aria-label="J'aime" href="/favoris/add/<%= coffee.id %>">
                  <% if (favorites.find((fav) => fav.id === coffee.id)) { %>
                    <i class="icon-heart-filled"></i>
                   <% } else { %>
                    <i class="icon-heart"></i>            
                  <% } %>
                </a>
                <a class="btn btn-cart" href="/panier/delete/<%= coffee.id %>">Retirer</a>
              </td>

              <td>
                <input id="form-cost-<%= key %>" type="number" class="coffee-blurb form-cost" readonly value="<%= coffee.price %>"></input>
              </td>

              <td>
                <input id="form-qty-<%= key %>" type="number" tabindex=0 class="coffee-blurb form-qty" placeholder="1" min="0" max="10" oninput="calcTotal(`<%= key %>`)">
              </td>

              <td>
                <p id="form-sub-<%= key %>" class="coffee-blurb form-line" readonly placeholder="0">0</p>
              </td>

            </tr>
          <% }) %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">Votre total en &euro;</td>
            <td colspan="1">
              <p id="form-total" class="coffee-blurb form-total" readonly placeholder="0">0</p>
            </td>
          </tr>
        </tfoot>
      </table>
      <% } %>
      <div class="row">
          <a class="catalogue-display cart" title="Catalogue" href="/catalogue">Continuer vos achats</a>
          <% if (shoppingList.length > 0) { %>
            <a class="catalogue-display cart" title="Paiement" href="/paiement">Valider et Payer</a> 
          <% } %>
      </div>
    </div>
  </div>
</div>

<script defer src="/js/calcul.js"></script>

<%- include('partials/footer') %>