<%- include('partials/header') %>

<div class="panier-container">

  <div class="row">
    <div class="col">
      <h2>Votre Panier</h2>
      <table class="panier-table">
        <thead>
          <th>Article</th>
          <th>Prix</th>
          <th></th>
        </thead>
        <tbody>
          <% shoppingList.forEach(coffee => { %>
            <tr>
              <td>
                <img class="coffee-article-img-thumb" src="/integration/images/<%= coffee.reference %>.webp" alt="<%= coffee.name %>">
                <div>
                    <h3 class="coffeeName"><%= coffee.name %></h3>
                </div>
              </td>

              <td>
                <p class="coffeePrice"><%= coffee.price %>&nbsp;&euro;/p>
              </td>

              <td>
                <a href="/panier/delete/<%= coffee.id %>">Retirer du panier</a>
              </td>
            </tr>
          <% }) %>

      </table>

      <div class="row">
          <a class="catalogue-display" title="Catalogue" href="/catalogue">Retour au catalogue</a>
      </div>

    </div>
  </div>
</div>

<%- include('partials/footer') %>